<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cong.shortlink.mapper.UrlRelateMapper">

    <resultMap id="BaseResultMap" type="com.cong.shortlink.model.entity.UrlRelate">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="urlImg" column="urlImg" jdbcType="VARCHAR"/>
            <result property="longUrl" column="longUrl" jdbcType="VARCHAR"/>
            <result property="sortUrl" column="sortUrl" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="visits" column="visits" jdbcType="INTEGER"/>
            <result property="ipNums" column="ipNums" jdbcType="INTEGER"/>
            <result property="userNums" column="userNums" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,urlImg,
        longUrl,sortUrl,userId,
        visits,ipNums,userNums,
        createTime,updateTime,isDelete
    </sql>
</mapper>
